<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.barcodescanner"
    version="1.1.0">

    <name>DeviceInfo</name>
    <description>DeviceInfo</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/DeviceInfo.js" name="DeviceInfo">
        <clobbers target="cordova.plugins.DeviceInfo" />
    </js-module>

    <asset src="www/DeviceInfo.js" target="DeviceInfo.js" />
    <!-- android -->
    <platform name="android">

        <source-file src="src/cn/com/easier/DeviceInfo.java" target-dir="src/cn/com/easier" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DeviceInfo">
                <param name="android-package" value="cn.com.easiser.DeviceInfo" />
            </feature>
        </config-file>
      

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            <!-- Not required to allow users to work around this -->
            <uses-feature android:name="android.hardware.camera" android:required="false" />
        </config-file>
        
        
    </platform>
</plugin>
